
*{

    box-sizing: border-box;
    
}

body{

    font-family: 'Roboto', 'sans-serif';
    background: #eff4fd;


}


header{

    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 30px;
    transition: all 0.5s ease-in-out;
}

.logo{
    height: 60px;
    width: 50px;
}

.main-nav{
display: flex;

align-items: center;
justify-content: center;
flex-direction:column ;


width: 40%;
height: 320px;
transition: all 0.3s ease-in-out;
}

nav ul li{
    list-style: none;
    padding: 10px;
}


nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
   
}

nav ul li a:hover{
    color: red;
}

.second-nav{
    background-image:url('/images/codeimage.png');
    background-position: center;
    background-size: cover;

    margin-left: auto;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px;

    width: 60%;
}

span{
    color: red;
}

.second-nav p{
    color: #5F6A6A;
    line-height: 22px; 
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.second-nav a{
    background: #5F6A6A;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0; 
    transition: all 0.5s ease;
}

.second-nav a:hover{
    color: red;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}



.biography{
    text-align: center;
    padding: 20px;
    border-bottom-style: double;
    border-bottom-color: grey;
    border-radius: 15px;
    background-color: #cecece;

}


.contact-me{

    background: #5F6A6A;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    border-bottom-style: double;
    border-bottom-color: grey;
    padding: 20px;

}

.contact-me i{
    padding: 10px; 
}


.profesional-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cecece;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}

.prof{
    height: 18px;
    background-color: #eee;
    margin-bottom: 30px;
    border-radius: 15px;
}

.prof::before{
    content: "";
    background-color: #0a8f10;
    display: inline-block;
    padding: 8px;
}

.prof.prof1::before{
    width: calc(90% - 10px);
}

.prof.prof2::before{
    width: calc(70% - 10px);
}

.prof.prof3::before{
    width: calc(50% - 10px);
}

.prof.prof4::before{
    width: calc(30% - 10px);
}


.personal-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.per{
    height: 18px;
    background-color: #eee;
    margin-bottom: 30px;
    border-radius: 15px;
}

.per::before{
    content: "";
    background-color: #0a8f10;
    display: inline-block;
    padding: 8px;
}

.per.per1::before{
    width: calc(95% - 10px);
}

.per.per2::before{
    width: calc(50% - 10px);
}

.per.per3::before{
    width: calc(80% - 10px);
}

.per.per4::before{
    width: calc(85% - 10px);
}



.subsol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background: black;
    color: white;
}


@media (min-width:720px) {

    
    header{

        flex-direction: column;
        
    }


    .main-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 10px;
        height: 100px;

    }



    .logo{
        margin-right: auto;
    }


    .main-nav ul li{
        display: inline-block;
        margin: 5px;
    }


    .second-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .second-nav p{
        font-size: 25px;
    }
    

    .main-content{


        display: grid;

        grid-template-columns: repeat(2,minmax(200px ,1fr ));

    
    }

    .profesional-skills{
        background: #5F6A6A;
        border-radius: 15px;
        padding: 20px;
        
    }

    .personal-skills{
        padding: 20px;
        border-radius: 15px;
        background-color: #cecece;
        
    }

    

    

}




@media(min-width: 1024px){


    .main-content{

        display: grid;

        grid-template-columns: repeat(4,minmax(200px ,1fr ));

    }

    .biography .contact-me{
       
    }








}