
*{

    box-sizing: border-box;
    list-style: none;
}

body{

    font-family: 'Georgia', 'sans-serif';
    background: #eff4fd;
    background-image:url('/images/node-js-JavaScript-hexagon-abstract-1293887-wallhere.com.jpg');
    background-repeat: no-repeat;
    background-size:cover;

}


header{

    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 30px;
    transition: all 0.5s ease-in-out;
}



.logoimg{
    height: 200px;
    width: 200px;
}

.main-nav{
display: flex;

align-items: center;
justify-content: center;
border-radius: 10px;
background-color: rgba(33, 34, 31, 0.3);

width: 40%;
height: 320px;
transition: all 0.3s ease-in-out;

}

nav ul li{
    list-style: none;
    padding: 5px;
}


nav ul li a{

    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    color: #469A46;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: all 0.5s ease;
    border-radius: 10px;
    padding: 0 10px;
}

nav ul li a:after{
    content: "";
    position: absolute;
    background-color: #DDE2A1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #DDE2A1;
}

nav ul li a:hover:after{
    width: 100%;

}

.second-nav{
    background-position: center;
    background-size: cover;

    margin-left: auto;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color:rgba(29, 48, 5 , 0.8);
    border: solid 2px #426513;
    border-radius: 10px;
    padding: 0px;

    width: 60%;
}

span{
    color: #CAA800;
}

.second-nav h1{
    color: #A3E7BA;
}

.second-nav p{
    color: #A3E7BA;
    line-height: 22px; 
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.second-nav a{
    background: #469A46;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0; 
    transition: all 0.5s ease;
    border-radius: 15px;
}

.second-nav a:hover{
    color: #CAA800;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    
}



.biography{
    text-align: center;
    padding: 20px;
    border-style: solid;
    border-color: #006E12;
    border-radius: 15px;
    background-color: #DDE2A1;
    

}


.contact-me{

    background: #D2D887;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    border-style: solid;
    border-color: #006E12;
    padding: 20px;

}

.contact-me i{
    padding: 10px; 
}


.profesional-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C6CF5D;
    border-style: solid;
    border-color: #006E12;
    height: 265px;
    width: 100%;
    border-radius: 15px;
    
}

.prof{
    display: block;
    background: #DDE2A1;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    width: 230px;
}

.prof:hover{
    box-shadow: 0 14px 28px rgba(2, 107, 2, 0.25), 0 10px 10px rgba(2, 107, 2, 0.22);
}


.personal-skills{
    background-color: #BBC643;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #006E12;
    width: 100%;
    border-radius: 15px;
    
    
}

.prof::before{
    content: "";
    background-color: #0a8f10;
    display: inline-block;
    padding: 8px;
}

.prof.prof1::before{
    width: calc(90% - 10px);
}

.prof.prof2::before{
    width: calc(70% - 10px);
}

.prof.prof3::before{
    width: calc(50% - 10px);
}

.prof.prof4::before{
    width: calc(30% - 10px);
}


.per{
    display: block;
    background: #DDE2A1;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    width: 230px;
}

.per:hover{
    box-shadow: 0 14px 28px rgba(2, 107, 2, 0.25), 0 10px 10px rgba(2, 107, 2, 0.22);
}

.per span{
    height: 20px;
    float: left;
}



.per::before{
    content: "";
    background-color: #0a8f10;
    display: inline-block;
    padding: 8px;
}

.per.per1::before{
    width: calc(95% - 10px);
}

.per.per2::before{
    width: calc(50% - 10px);
}

.per.per3::before{
    width: calc(80% - 10px);
}

.per.per4::before{
    width: calc(85% - 10px);
}



.subsol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: white;
    position: relative;
    bottom: 0;
    margin-top: 100px;
    padding: 5px;
    background-color: rgba(33, 34, 31, 0.3);
    
}


@media (min-width:720px) {

    
    header{

        flex-direction: column;
        
    }


    .main-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 10px;
        height: 80px;

    }

    .prof, .per{

        width: 300px;
    }

    .logo{
        margin-right: auto;
    }


    .main-nav ul li{
        display: inline-block;
        margin: 5px;
    }


    .second-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .second-nav p{
        font-size: 25px;
    }
    

    .main-content{


        display: grid;

        grid-template-columns: repeat(2,minmax(200px ,1fr ));

    
    }

    .profesional-skills{
        border-radius: 15px;
        padding: 20px;
        
    }

    .personal-skills{
        padding: 20px;
        border-radius: 15px;
        
    }

    

    

}




@media(min-width: 1024px){


    .main-nav{
        height: 70px;
    }


    .main-content{

        display: grid;

        grid-template-columns: repeat(4,minmax(200px ,1fr ));

    }









}